/* Playfair Display SC для русских слов и определений*/
/* Hachi Maru Pop Основной текст  */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:regular,italic,700,700italic,900,900italic');
@import url('https://fonts.googleapis.com/css?family=Hachi+Maru+Pop:regular');

/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	line-height: 1;
	color: #000;
	padding: 10px 10px 50px 10px;
	font-family: "Hachi Maru Pop";
	background:url("../img/white-wood.jpg");
}
/* ------------------ */
.header{
	padding: 40px;
	background-image: url("../img/image5.jpeg") ;
	background-size: 120px;
	background-repeat: repeat-x;
	color:white;
}

.title{
	text-align: center;
	font-family: 'Playfair Display SC';
	font-size: 36px;
	font-weight: 700;
}
.title2 {
	text-align: center;
	font-family: 'Playfair Display SC';
	font-size: 22px;
	font-weight: 700;
	margin: 20px;
	padding: 5px;
}
.block1{
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	background: radial-gradient(circle, rgba(0,151,255,1) 0%, rgba(56,253,45,1) 100%);
}
.block2{
	padding: 50px;
	height: 200px;
	background: linear-gradient(0deg, rgba(255,0,188,0.5130252784707633) 0%, rgba(253,247,45,1) 100%);
	
}
.block3 {
	height: 200px;
	background-image:url("../img/cat.png");
	background-repeat: repeat-x;
}
.block4{
	height:400px;
	background-color:#f2e6ff;
	background-repeat:no-repeat;
	background-position: bottom;
	background-image: url("../img/mem.jpg");
	background-size: 450px ;
}
.block5{
	height: 300px;
	background-repeat:no-repeat;
	background-image:url("../img/mem2.jpg");
	background-position: 0 0;
	background-size: contain;
}
.block6{
	/* при такой записи -image не пишется!!!  */
	background: white url("../img/lemons.jpg") center / cover no-repeat;
	/* 
	background-image:url("../img/lemons.jpg");
	background-repeat:no-repeat; 
	background-position: center;
	background-size: cover ;
	*/
}

.block7 {
	height:1280px;
	background-color: chartreuse;
	background-image:url("../img/squirrel-5959490_1280.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover ;
	background-attachment: fixed;
	color:cornsilk;
	font-size: 26px;
	font-style: italic;
}
.block8{
	height: 600px;
	background: url("../img/Et7fdPHXUAE98eX.jpg") right/ 250px repeat-y, url("../img/image3.jpg") left/ 250px repeat-y, url("../img/1271090875_1.jpg") center/ 250px repeat-x,  url("../img/pattern-1477380_640.png") 0 0 repeat ;
}
.list{
font-size: 24px;
}
.list li{
	min-height: 20px;
	padding: 0px 0px 0px 30px ;
	margin: 0px 0px 10px 0px;
	background: url("../img/icons.png") 0 5px  no-repeat;
	
}
.button{
	padding: 20px 10px;
	display: block;
	max-width: 200px;
	color: ghostwhite;
	text-transform: uppercase;
	text-align: center;
	background: rgb(0,255,161);
	/* background: radial-gradient(circle, rgba(0,255,161,0.7386363636363636) 0%, rgba(67,45,253,0.6295454545454545) 100%); */
	font-size: 20px;
	font-weight: bold;
	font-family: "Playfair Display SC";
	border-radius: 20px 50px;

}
.button span{
	background: rgb(0,255,161) url("../img/icons8-homer-simpson-20.png") 0 0 / 20px no-repeat;
	display: inline-block;
	padding: 0px 0px 0px 20px ;	
}
