/* Bad Script  Oswald */
@import url('https://fonts.googleapis.com/css?family=Bad+Script:regular&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700&display=swap&subset=cyrillic-ext');
/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	line-height: 1;
	color: #fff;
	padding: 100px;
	 background-color: #333;
	max-width: 80%;
	margin: 0 auto;
	font-family: "Bad Script";
	font-size: 18px;
}
/* ------------------ */

/* 
говорю сразу что по мне прокатилось стадо медведей на глахах
 поэтому я и дизайн это дело отдельно :D,
 просто стараюсь понять работу всего этого 
  */
.button {
	margin: 0px 0px 20px 23px;
	padding: 20px 10px;
	display: inline-block;
	width: 100%;
	max-width: 400px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 50px;
	box-shadow: 0 3px 0px 0px rgb(214, 211, 46);
	letter-spacing: 2px;
	text-align: center;
	line-height: 120%;
	background: rgb(63, 63, 63);
}
.button:hover{
	background: url('../img/batman.png');
	color:rgb(255, 230, 0);
	font-family: Oswald;
}
.button:focus{
	outline: 2px dashed rgb(251, 255, 0);
}

.main{
	background: url('../img/shattered-island.gif'); 
	/* max-height: 1000px; */
	max-width: 1100px;
	margin: 0px auto;
	padding: 15px;
}
h1{
	background-color:cornsilk;
	color:crimson;
	font-family: serif;
	font-size: 22px;
	font-weight: 700;
	font-style: italic;
	margin: 0px auto;

}
.block1 {
	height: 200px;
}
	.block1 .link{
	display:inline-block;
	color:rgb(54, 53, 0);
	margin: 50px 350px;
	padding: 20px;
	background: violet;
	border-radius: 50px 10px;
	
}
.block1 .link span:active{
	color:rgb(40, 0, 199) ;
	font-size: 30px;
	font-family: "Oswald";
}
.block1 .link:visited{
	background-color: rgba(0, 255, 255, 0.329);	
}
.block1 .link:focus{
	outline: 5px dotted rgb(255, 2, 158);
	color:salmon;
}

.textopen{
	margin: 0px 0px 15px 0px ;
	display: inline-block;
	color:rgb(255, 0, 0);
	font-family: "Oswald";
	font-size: 26px;
	background-color:cornsilk;

}
.open{
	background: white url('../img/icons8-qq-48.png');
	padding: 20px;
	display: none;
	color:transparent;
}
#open:target{
	display: block;
}
.close{
	color:rgb(255, 0, 0);
	font-family: "Oswald";
	font-size: 26px;
	background-color:cornsilk;
}
.text__rollover{
	text-align: center;
	padding: 15px;
	color:white;
	font-size: 20px;
	
}
	.rollover {
	margin:0px auto;
	height: 350px;
	width: 280px;
	background:url('../img/orig-26-640x703-1.jpg') 0 0 / cover no-repeat;
	display: block;
}
	.rollover:hover{ 
		
		height: 350px;
		width: 280px;
		width: 250px;
		background: url('../img/1516663146_1.jpg') 0 0 / cover no-repeat;
	}

	h2{
		text-align: center;
		font-family: Arial;
		font-weight: bold;
		margin: 20px 0px 30px 0px;
		text-transform: uppercase;
		font-size: 36px;

	}
.text1 p{
	margin: 20px 0px 30px 0px;
	background-color: yellow;
	max-width: 500px;
	color:black;
}
.text1 *:first-child{
	background-color:cornflowerblue;
}
.text1 p:first-of-type{
	background: url('../img/sushi.png');
	max-width: 1100px;
}
.text1 span{
	display: block;
	margin: 20px 0px 30px 0px;
	font-family: "Oswald";
}
.text1 span:last-child{
	background-color:rgb(48, 202, 151);
}
.text1 p:last-of-type{
	background-color:rgb(163, 45, 118);
}

.text2 p{
	margin: 20px 0px 30px 0px;
	background-color: rgb(109, 77, 151);
	max-width: 500px;
	color:black;
	font-family: "Oswald";
}

.text2 p:nth-child(even){
	background-color: rgb(206, 57, 69);
}
.text2 span:nth-of-type(2){
	background-color: rgb(0, 255, 0);
	color:black;
	line-height: 40px;

}
.text3 p{
	margin: 20px 0px 30px 200px;
	background-color: rgb(109, 77, 151);
	max-width: 700px;
	color:black;
	font-family: "Times New Roman";
}

.text3 p::first-line{
	background-color:rgba(158, 39, 112, 0.61);
	text-shadow: 1px 1px 2px black, 0 0 2px rgb(217, 255, 0); 
font-size: 26px;
}

.text3 span{
	background-color: rgb(229, 255, 0);
	color:rgb(255, 0, 0);
	font-family: "Times New Roman";
	font-style: italic;
}
.text3 p::first-letter{
font-size: 36px;
background-color:rgba(0, 255, 255, 0.329);
display: block;
text-decoration: underline;
}

li::before{
content:"☼ ";
}

li:hover::before{
content:" ☁ ";
}
.block2{
	margin: 20px 0px 30px 0px;


}
.block2::before{
	content: "";
	background: url('../img/33bd46b38c4f.png') 0 0 no-repeat;
	height: 139px;
	width: 124px;
	display: inline-block;
}
.block2::after{
	content: "";
	background: url('../img/batman.png') 0 0 no-repeat;
	height: 25px;
	width: 25px;
	display: inline-block;
}
.title {
	margin: 20px 0px 30px 0px;
	font-family: Arial;
	font-style: italic;
	text-shadow:  13px 1px 5px rgb(23, 255, 2), 2px 0 1px rgb(255, 251, 0);
}
.title::after{
	content: "";
	background-color:rgba(44, 184, 105, 0.568);
	display: block;
	height: 7px ;
	margin: 5px 0px 0px 0px;
	max-width:20%;
	min-width: 10%;
}