/* Добавляем стили из гугл плагина  Marck Script и Press Start 2P*/

@import url('https://fonts.googleapis.com/css?family=Marck+Script:regular&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P:regular&display=swap&subset=cyrillic-ext');
 
/* Тут немножко мучаюсь с добавлением шрифтов из файла */
/* 
выделяем url и начало названия
ctrl + h 
копируем с верхнего поля в нижнее
добавляем после кавычки ../fonts/
нажимаем Replace All
*/
@font-face {
	font-family: 'Digital Play St';
	src: url('../fonts/DigitalPlaySt.woff2') format('woff2'),
		 url('../fonts/DigitalPlaySt.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


/* Обнуление стилей */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

body{
	background-color:#f0f0f5;
	line-height: 1;
	font-family:'Times New Roman';
	font-size: 16px;
}

 /* задаем стиили  */
header{
	font-family: 'Press Start 2P';
	font-size: 50px;
	text-shadow: 4px -8px 6px rgba(153, 0, 153, 0.86);

}
.menu{
	font-family: Arial;
	font-size: 18px;
	font-style: inherit;
	font-weight: bold;
	text-align: center;
	text-shadow: 4px -8px 6px rgba(196, 160, 196, 0.86);

}

.title1{
font-family: 'Marck Script';
font-size: 40px;
text-align: center;
line-height: 4;
color: rgb(18, 90, 0);
text-transform: uppercase;
text-shadow: -19px -19px 0px rgba(0, 255, 0, 1);
}

.title2{
	font-size: 28px;
	font-style: italic;
	font-family: 'Press Start 2P';
	line-height: 2;
	color: lawngreen;
	text-align: right;
	text-shadow: 1px 1px 1px #000;
}

.title3{
	font-size: 26px;
	font-style: oblique;
	line-height: 2;
	font-family: 'Digital Play St';
	color: rgb(64, 128, 0);
	text-shadow: 55px 12px 3px rgba(0, 255, 98, 0.83);
	text-align: center;
}

p{
	color: rgb(110, 0, 74);
	font-size: 18px;
}

.textukr{
font-family: 'Marck Script';
text-decoration:overline;
letter-spacing:8px;
}

.textukr span{
font-family: 'Press Start 2P';
color: red;
text-align: justify;
font-size: 26px;
text-shadow: 3px 7px 9px rgba(0, 0, 0, 0.86);
}

.blockrus{
	font-family: 'Press Start 2P';
	line-height:1.5;
	color: rgb(148, 104, 250);
	text-indent:24px;
	word-spacing:10px;

}

.texteng{
	font-family: 'Digital Play St';
	line-height:4;
	text-transform:lowercase;
}

.texteng span{
	font-family: 'Marck Script';
	color: blue;
	word-spacing:7px;
	line-height:5;
	text-shadow: -1px 3px 4px rgb(95, 16, 197);
}

footer{
	color:mediumseagreen;
	text-shadow: 30px -2px 29px rgba(53, 255, 99, 1);
	text-align:right;
	font-family: 'Press Start 2P';
}
.link {
	text-transform: capitalize;
	color: deeppink;	
}
.phone {
	white-space: nowrap;
	letter-spacing:10px;	
}
