@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap');
/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	line-height: 1;
	color: #fff;
	font-family: Montserrat;
	background:Khaki;

}
/* ------------------ */
.header {
	background-color: #ff4000; 	
}
.container {
	max-width: 70%;
	margin: 0px auto;
}
.header__menu {
}
.header__list {
	font-size: 0;
}
.header__list > li{
	display: inline-block;
	margin: 0px 20px 0px 0px;
	position: relative;
}
.header__list > li:last-child{
	margin-right: 0;
}
.header__list > li .header__sub-list{
	left: auto;
	right:0;
}

.header__list > li:hover .header__sub-list{
	display: block;
}
/* при наведении и даже наведение на подпункты будет работать пока не уберется мышь  */
.header__list > li:hover .header__link{
	color:#bfff00;
}
.header__link {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color:yellow;
	padding: 15px 0;
	display: inline-block;
}

.header__sub-list {
	background-color:  #ccff33;
	padding: 20px;
	position: absolute;
	left: 0;
	top: 100%;
	min-width: 140px;
	display: none;
}
.header__sub-list li {
	margin: 0px 0px 15px 0px;
}
.header__sub-list li:last-child{
	margin-bottom: 0;
}
.header__sub-link {
	font-size: 14px;
	color:#263300;
}
.header__sub-link:hover {
	text-decoration: underline;
}
.main {
	padding: 200px;
}
.main__container {
	max-width: 50%;
	margin: 0px auto;
}
.card {
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
	border-radius:50%;
	background: url('../img/7133d6ed6a3d7e5ba130.gif') center / cover  no-repeat;
}
.text {
	color:#ff3300;
	padding: 15px;
}
.card::before{
	line-height: 30px;
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	border-radius:50%;
	font-size: 12px;
	right: 0;
	top: 0;
	text-align: center;
	color:whitesmoke;
	content: attr(data-counter);
}
