/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	line-height: 1;
	color: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* ------------------ */
/* делаем грузовик */
.container{
	 height:930px;
	 background: url('../img/forest-road.jpg')0 0 /  cover no-repeat;  
}
.block__car {
	position: relative;
	top: -800px;
}
.car__roof{
	position: absolute;
   top: 300px;
   left: 1500px;

   width: 222px;
   height: 30px;
   margin: 0 0 0 -200px;
	border: 1px solid #000;
   background: rgb(189,0,58);
	background: linear-gradient(185deg, rgba(189,0,58,1) 0%, rgba(0,30,179,1) 38%, rgba(0,255,235,1) 100%);
   /* border-radius: 19px 223px 0 0 / 75px 25px 0 0; */
   border-radius: 23px 373px 0 0 / 75px 75px 0 0;
}
.cabin{
	position: absolute;
   top: 330px;
   left: 1500px;

   width: 222px;
   height: 200px;
   margin: 0 0 0 -200px;
	border-radius: 10px 70px 50px 50px / 10px 20px 5px 10px;
	background: rgb(153,255,226);
background: radial-gradient(circle, rgba(153,255,226,1) 0%, rgba(180,180,180,1) 75%);
border: 3px solid #000;
}
/* тут будет боб в кабине сидеть */
.cabin:hover{
	background:url('../img/lego.png');
}
.cabin__door{
	position: absolute;
   top: 500px;
   left: 1500px;

   width: 422px;
   height: 200px;
   margin: 0 0 0 -200px;
	border: 2px solid #000;
	background: rgb(0,50,12);
	background: linear-gradient(90deg, rgba(0,50,12,1) 0%, rgba(13,255,49,1) 100%);
	border-radius: 0px 45px 0px 0px;
}
.doors{
	position: absolute;
   top: 500px;
   left: 1300px;
	

   width: 222px;
   height: 200px;
	background-color:transparent;
	border-right: 2px solid #000;
}
.doors__knob{
	position: absolute;
   top: 570px;
   left: 1465px;
   width: 50px;
   height: 20px;
	background-color:black;
	border-radius: 18px 72px 75px 75px;

}
/* фара должна загореться */
.headlight__front{
	position: absolute;
   top: 500px;
   left: 1852px;

   width: 72px;
   height: 50px;
   margin: 0 0 0 -200px;
	border: 1px solid #000;
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(135,255,246,1) 75%);
	border-radius: 200px 76px 200px 0px;
}
.headlight__front:hover{
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,255,0,1) 75%);
}
.wagon{
	position: absolute;
   top: 450px;
   left: 778px;

   width: 522px;
   height: 320px;
	border: 5px dashed #000;
	border-radius: 250px 38px 18px 63px / 0px 16px 0px 30px;
	background: radial-gradient(circle, rgba(218,215,255,1) 0%, rgba(17,123,15,1) 0%, rgba(103,121,9,1) 0%, rgba(1,23,145,1) 97%);
}
.connection{
	position: absolute;
	top: 700px;
   left: 1300px;

   width: 422px;
   height: 70px;
	background: linear-gradient(185deg, rgba(110,110,110,1) 52%, rgba(0,0,0,1) 100%);
	border-radius: 260px 0px 23px 0px / 0px 28px 23px 17px;
	z-index: 1;
	border: 2px solid #000;
}

.wheel__front {
	position: absolute;
	top: 710px;
   left: 1400px;

   width: 220px;
   height: 220px;
	background: black;
	border-radius:50%;
	z-index: 1;
	border: 2px solid rgb(145, 145, 145);
}

.disk__front{
	position: absolute;
	top: 778px;
   left: 1467px;

   width: 90px;
   height: 90px;
	background: rgb(119, 119, 119);
	border-radius:50%;
	z-index:5;
	border: 2px dotted rgb(255, 255, 255);
}
.wheel__back {
	position: absolute;
	top: 710px;
   left: 800px;

   width: 220px;
   height: 220px;
	background: black;
	border-radius:50%;
	z-index: 1;
	border: 2px solid rgb(145, 145, 145);
}
.disk__back{
	position: absolute;
	top: 778px;
   left: 865px;

   width: 90px;
   height: 90px;
	background: rgb(119, 119, 119);
	border-radius:50%;
	z-index:5;
	border: 2px dotted rgb(255, 255, 255);
}